<launch>
	<arg name="mic_name"         default="alsa_input.usb-M-Audio_Producer_USB-00-USB.analog-stereo" />
	<arg name="recorder_audio" default="true"/>

    <node 
        name="recognizer" pkg="uchile_speech_pocketsphinx" type="recognizer_ros" ns="/bender/speech"
        respawn="false" output="screen">
        <param name="mic_name" value="$(arg mic_name)"/>
        <rosparam file="$(find uchile_speech_pocketsphinx)/config/recognizer.yaml" command="load"/>
    </node>

	<node if="$(arg recorder_audio)" name="recorder_audio" pkg="uchile_speech_pocketsphinx" type="recorder.py" ns="/bender/speech" />

</launch>
